n8n/tuya/Tuya_ Get access_token with simple mode.json
{
  "name": "Tuya: Get access_token with simple mode",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "069cd5b9-2647-4076-b9f0-c5f87eee13be",
              "name": "access_id",
              "value": "={{ $items(\"Get tuya configs\").find(item => item.json.Key === 'tuya_client_id').json.Value }}",
              "type": "string"
            },
            {
              "id": "df906480-86be-4c7b-a5e8-7ddb598b1f7b",
              "name": "access_secret",
              "value": "={{ $items(\"Get tuya configs\").find(item => item.json.Key === 'tuya_client_secret').json.Value }}",
              "type": "string"
            },
            {
              "id": "ca3a7ad0-debe-4886-b316-58ed51c1e9cf",
              "name": "endpoint",
              "value": "={{ $items(\"Get tuya configs\").find(item => item.json.Key === 'tuya_baseUrl').json.Value }}/v1.0/token?grant_type=1",
              "type": "string"
            },
            {
              "id": "e0c2535f-1d86-45c1-af1e-b0a18d3af18c",
              "name": "t",
              "value": "={{ Date.now() }}",
              "type": "string"
            },
            {
              "id": "3bb4d608-c8a6-427e-bed3-5a72990f9fe6",
              "name": "httpMethod",
              "value": "GET",
              "type": "string"
            },
            {
              "id": "67534822-2b89-4055-9902-0fab42e496c2",
              "name": "relativeUrl",
              "value": "/v1.0/token?grant_type=1",
              "type": "string"
            },
            {
              "id": "e32bcabb-d569-474b-ab1c-58ff89065ac3",
              "name": "body",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -816
      ],
      "id": "56c2de40-3706-4845-9db7-b9b927892556",
      "name": "Init",
      "executeOnce": true
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.body }}",
        "dataPropertyName": "hash_body"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -64,
        -816
      ],
      "id": "1f9c46a2-a96e-48cd-94e8-58752865a910",
      "name": "Hash body empty",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.string_to_sign }}",
        "dataPropertyName": "signature",
        "secret": "={{ $json.access_secret }}"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        384,
        -816
      ],
      "id": "74f0f0c6-6f93-4056-9d9e-24f829ab86bb",
      "name": "Crypto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cdba1cee-d573-4f43-924d-f39b7cdbb87b",
              "name": "string_to_sign",
              "value": "={{ $json.access_id }}{{ $json.t }}{{ $json.httpMethod }}\n{{ $json.hash_body }}\n\n{{ $json.relativeUrl }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -816
      ],
      "id": "97f0fa0a-7985-415b-8afb-cfe1f4d3ee7f",
      "name": "String to sign"
    },
    {
      "parameters": {
        "url": "={{ $json.endpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $json.access_id }}"
            },
            {
              "name": "sign",
              "value": "={{ $json.signature.toUpperCase() }}"
            },
            {
              "name": "t",
              "value": "={{ $json.t }}"
            },
            {
              "name": "sign_method",
              "value": "HMAC-SHA256"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        -816
      ],
      "id": "c17ce667-80e2-4ca9-bd72-b5ccd2d814b3",
      "name": "HTTP Request to GetToken"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "sJSj6RhQbEODoCRL",
          "mode": "list",
          "cachedResultName": "Configs",
          "cachedResultUrl": "/projects/Enln3fb9c022j0uw/datatables/sJSj6RhQbEODoCRL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Key",
              "keyValue": "tuya_baseUrl"
            },
            {
              "keyName": "Key",
              "keyValue": "tuya_client_id"
            },
            {
              "keyName": "Key",
              "keyValue": "tuya_client_secret"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -512,
        -816
      ],
      "id": "648096fc-ee8f-4b37-a422-0933febd14be",
      "name": "Get tuya configs"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -736,
        -816
      ],
      "id": "1ce420fd-0b43-4c72-84fa-687d101ae6e6",
      "name": "Calling Workflow",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dec43322-dfe1-42ed-b242-f7899e1c3386",
              "name": "result.access_token",
              "value": "={{ $json.result.access_token }}",
              "type": "string"
            },
            {
              "id": "179b57a6-08cc-452e-a375-61e8b933fb96",
              "name": "success",
              "value": "={{ $json.success }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -816
      ],
      "id": "10d6b3e6-cb29-43ac-9c8d-0b9a909edb16",
      "name": "Clean output"
    }
  ],
  "pinData": {},
  "connections": {
    "Init": {
      "main": [
        [
          {
            "node": "Hash body empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash body empty": {
      "main": [
        [
          {
            "node": "String to sign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "HTTP Request to GetToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "String to sign": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to GetToken": {
      "main": [
        [
          {
            "node": "Clean output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tuya configs": {
      "main": [
        [
          {
            "node": "Init",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calling Workflow": {
      "main": [
        [
          {
            "node": "Get tuya configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "aad43994-239a-4146-8b7b-1520c1ee8334",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3925f173e8cd2d6118234946561e074191b6fa651e57d50986c498491cb14d3e"
  },
  "id": "boZ2VDnr3xsMZE2MIHVPz",
  "tags": [
    {
      "updatedAt": "2026-01-10T15:12:28.106Z",
      "createdAt": "2026-01-10T15:12:28.106Z",
      "id": "3t0mErYkS3QMM9Sv",
      "name": "tuya"
    },
    {
      "updatedAt": "2026-01-10T15:12:23.351Z",
      "createdAt": "2026-01-10T12:29:20.643Z",
      "id": "p5HkyRKf8GBs6DDi",
      "name": "subflow"
    }
  ]
}